<div class="container text-center mt-4">
    <form>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">User Email</label>
          <div class="col-sm-5">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="YenTsu.Chen@harman.com">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Task Name</label>
          <div class="col-sm-5">
            <input type="password" class="form-control" id="inputPassword" placeholder="Task Name">
          </div>
        </div>
        <div class="form-group row mt-2">
            <label for="inputPassword" class="col-sm-2 col-form-label">Task Date</label>
            <div class="col-sm-5">
              <input type="password" class="form-control" id="inputPassword" placeholder="Task Date">
            </div>
        </div>
              
        <button type="submit" class="btn btn-primary mt-3 float-left">Submit</button>

      </form>
</div>